body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #738FA7;
    margin: 0;
    padding: 20px;
}

.table-container {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e0e0;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tr.selected {
    background-color: #d1e7dd !important;
}

#yazim {
    margin-top: 40px;
}

#aramafield {
    width: 40%;
    height: 30px;
    border-radius: 10px;
}

#aramaButonu {
    margin-top: 20px;
    width: 20%;
    height: 30px;
    border-radius: 10px;
}

/* Form grupları için stil */
.form-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 40%;
}


.form-group label {
    width: 30%;
    margin-right: 5px;
    font-weight: bold;
}

.form-group input {
    flex: 1;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}
#guncelleButonu {
    float: left   ;
    margin-top: 30px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
}



