body {
    font-family: Arial, sans-serif;
    background-color: #738FA7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#urunTable {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

h2 {
    text-align: center;
    margin-bottom: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e0e0;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tr.selected {
    background-color: #d1e7dd !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#removeButton {
    margin-left: auto;
    margin-right: auto;
}

#sorguContainer {
    background-color: #fff;
    padding: 20px; /* Reduced padding to decrease height */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%; /* Increased width */
    max-width: 800px; /* Increased maximum width */
    margin-top: 20px;
}
#queryInput{
    width: 70%;
    height: 40px;
    border-radius: 5px;
}
#sorguButonu{
    margin-top: 10px;
    height: 40px;
    width: 20%;
}


