body {
    font-family: Arial, sans-serif;
    background-color: #738FA7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

h2 {
    text-align: center;
    margin-bottom: 0px; /* Başlık ve tablo arasındaki boşluğu azaltın */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0e0e0;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tr.selected {
    background-color: #d1e7dd !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#removeButton {
    margin-left: auto;
    margin-right: auto;
}
